@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.error {
	width: 100%;
	text-align: center;
	color: #D1FEFF;
	font-size: 40px;
	font-family: Open Sans;
}

.error-code {
	text-align: center;
	color: #D1FEFF;
	line-height: 1.2;
	letter-spacing: 2px;
	word-spacing: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 10px 5px 2px rgba(96, 94, 93, 0.5);
	font-size: 150px;
	color: ##0dfaff;
}

* {
	background-color: #0C3A4D;
	padding: 0;
	margin: 0;
	border: 0;
}

div {
	align-content: center;
	text-align: center;
	margin-bottom: 5px;
}

input[type=submit] {
	margin-top: 50px;
	cursor: pointer;
	align-content: center;
	text-align: center;
	background-color: transparent;
	color: #D1FEFF;
	font-size: 3rem;
	border: none;

}