
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

@charset "ISO-8859-1";


@font-face {
  font-family: "Open Sans";
}

@font-face {
  font-family: 'Open Sans';
}



*{
    box-sizing:border-box;
   /* outline:1px solid ;*/
  }

  body{
  background: #fcefd4;
      height: 100%;
          margin: 0;
          background-repeat: no-repeat;
          background-attachment: fixed;
    
  }
  
  .wrapper-1{
    width:100%;
    height:100vh;
    display: flex;
  flex-direction: column;
  border-radius: 50px;
  }
  .wrapper-2{
    padding :30px;
    text-align:center;
    background-color: white;
    border-radius: 50px;
  }
  
  h1{
    font-family: Open Sans;
    font-size:3rem;
    letter-spacing:3px;
    color:#2f2f2f;
    margin:0;
    margin-bottom:20px;
  }
  .wrapper-2 p{
    margin:0;
    font-size:1.3em;
    color:#aaa;
    font-family: Open Sans;
    letter-spacing:1px;
  }
  .go-home{
    color:#fff;
    background:#acd872;
    border:none;
    padding:10px 50px;
    margin:30px 0;
    border-radius:30px;
    text-transform:capitalize;
    
  }

  
  @media (min-width:360px){
    h1{
      font-size:4.5em;
    }
    .go-home{
      margin-bottom:20px;
    }
  }
  
  @media (min-width:600px){
    .content{
    max-width:1000px;
    margin:0 auto;
  }
    .wrapper-1{
    height: initial;
    max-width:620px;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }
    
  }